.containerDelete {
  height: 404px;
  margin: 30px;
}

@media screen and (max-width: 1366px) {
  .modal-content {
    height: 460px;
  }

  .container, .containerDelete {
    height: 400px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

@media (min-width: 2560px) {
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 75%;
  height: 1000px;
  border-radius: 10px;
  }
  #material .modal-content {
    padding: 30px;
    height: 1000px;
  }
  .containerDelete {
    height: 90%;
    margin: 30px;
    font-size: 1.5em;
  }
  #deleteStaffForm{
    height: 750px;
  }
}

#btn-modal {
  background-color: #ff5252;
  width: auto;
  border-radius: 50px;
  color: #fff;
  opacity: 0.9;
  transition: 0.2s ease;
}

#btn-modal:hover {
  opacity: 1;
}

#btn-modal:focus {
  outline: none;
}

.modalbtn {
  background-color: #ffad0d;
  color: #000;
  padding: 14px 20px;
  float: right;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  transition: 0.2s ease;
  border-radius: 50px;
}

.modalbtn:hover {
  opacity: 1;
  outline: none;
}

#submitbtn {
  border-radius: 50px;
  transition: 0.2s ease;
  background-color: #ffad0d;
  opacity: 0.9;
  width: 150px;
}

@media (min-width: 2560px){
  #submitbtn {
  border-radius: 50px;
  transition: 0.2s ease;
  background-color: #ffad0d;
  opacity: 0.9;
  width: 200px;
}
}

#submitbtn:hover {
  opacity: 1;
}

#cancelbtn {
  background-color: #ccc;
  color: #000;
  opacity: 0.8;
  width: 100px;
}

#cancelbtn:hover {
  opacity: 1;
}

.submitbtn {
  width: 100px;
  color: #fff;
  background-color: #850038;
  margin-top: 30px;
  border-radius: 50px;
  opacity: 0.9;
  transition: 0.2s ease;
}

.submitbtn:hover {
  opacity: 1;
}

.submitbtn:focus {
  outline: none;
  border: none;
}

.modalbtn {
  float: right;
  border-radius: 50px;
  margin: 5px;
  transition: 0.2s ease;
}

.modal input[type=text], .modal input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/*CHARLES FORM VALIDATION*/

.form-control{
  /* margin-bottom: 10px;
  padding-bottom: 20px; */
  position: relative;
}

.form-control i{
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.form-control.success input{
  border-color: #2ecc71;
}
.form-control.error input{
  border-color: #e74c3c;
}

.form-control.error small{
  visibility: visible;
  color: #e74c3c;
  position: relative;
  bottom: 5px;
}

.form-control.success i.fa-check-circle{
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}

div#passwordform.form-control.error i.fa-exclamation-circle{
  right: 27.5px;
}

div#passwordform.form-control.success i.fa-check-circle{
  right: 27.5px;
}

div#confirmpasswordform.form-control.error i.fa-exclamation-circle{
  right: 27.5px;
}

div#confirmpasswordform.form-control.success i.fa-check-circle{
  right: 27.5px;
}

div#circulationtypeform.form-control.success i.fa-check-circle{
  right: 19px;
}

div#typeform.form-control.success i.fa-check-circle{
  right: 19px;
}

div#statusform.form-control.success i.fa-check-circle{
  right: 19px;
}

div#locationform.form-control.success i.fa-check-circle{
  right: 19px;
}

div#lastyearinvform.form-control.success i.fa-check-circle{
  right: 19px;
}

div#inventory-input-div.form-control.error i.fa-exclamation-circle{
  top: 22.5px;
  right: 20px;
}

div#inventory-input-div.form-control.success i.fa-check-circle{
  top: 22.5px;
  right: 20px;
}

.form-control.success select{
  border-color: #2ecc71;
}

.form-control.error select{
  border-color: #e74c3c;
}
