@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --font-roboto: sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --forest-green: #0e6021; /* var(--forest-green); */
  --maroon: #850038;
  --golden-yellow: #ffad0d;

  --athens-gray: #e9e8ec;
  --dune: #242221;
  --dune-rgba-2: rgba(36, 34, 33, 0.2);
  --dune-rgba-5: rgba(36, 34, 33, 0.5);
  --alabaster: #f8f8f8;
  --true-v: #9174d8;
  --true-v-rgba-5: rgba(145, 116, 216, 0.5);
  --silver: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  background-image: url("../img/oble.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--athens-gray);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--dune);
  overflow-x: hidden;
}

@media screen and (min-width: 2560px) {
  body {
    background-size: cover;
  }
}

ul,
ol {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
}

/* .h1-admin {
  background: linear-gradient(135deg, #0e6021 0%, #850038 50%, #ffad0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
} */

/* h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 1.8rem;
}*/
@media (min-width: 2560px){
  img,
 {
  max-width: 100%;
  max-height: 100%;
}
svg,{
  max-width: 200%;
  max-height: 200%;
}
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}



svg path {
  fill: var(--dune);
  transition: fill 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--dune);
  transition: color 0.3s ease;
}

button {
  padding: 0.85rem;
  background-color: var(--white);
  border: 0;
  font-weight: var(--alabaster);
  color: var(--dune);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.focus--box-shadow:focus {
  outline: none;
}

.filter:hover {
  color: #0e6021;
}

input[type=number] {
  text-align: center;
  /* color: #b1b1b1; */
  width: 70px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #b1b1b1;
  transition: 0.2s ease-in-out;
}

input[type=number]:hover {
  /* background-color: #b1b1b1; */
  color: #000;
  opacity: 0.5;
}

input[type=number]:focus {
  color: #000;
}

/* @media (max-width: 1800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.55rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.65rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.35rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
} */

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--alabaster);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
}

/* Calendar */

.calendar-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: auto;
  height: 27rem;
  color: #fff;
  background: linear-gradient(0deg, var(--forest-green), var(--maroon));
}

.month {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;
  background-color: #850038;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.month h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

.month p {
  color: #fff;
  font-size: 1.3rem;
}

@media screen and (max-width: 1366px) {
  .month h1 {
    font-size: 1.2rem;
  }

  .month p {
    font-size: 1.0rem;
  }
}

.month h1, p {
  display: inline-block;
}

.weekdays {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3.25rem;
  padding: 0 0.7rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(50rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  position: relative;
  overflow: hidden;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: .75rem;
}

.days div {
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  margin: 0;
  width: calc(100% / 7);
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--golden-yellow);
  opacity: 0.5;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  overflow: hidden;
  color: #000;
  background-color: var(--golden-yellow);
  border-radius: 5px;
}


/* Wrapper */

.wrapper {
  display: flex;
  justify-content: left;
  width: 125%;
  min-height: 100vh;
}

@media (min-width:  2560px){
  .wrapper{
    display: flex;
    justify-content: left;
    width: 129%;
    min-height: 100vh;
  }
}

/* @media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
  }
} */

/* Nav */

.nav {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 5.6rem;
  height: calc(100vh - 19.25rem);
  /* min-height: 40rem; */
  max-height: 50rem;
  margin: 11.53rem 2.45rem;
  padding: 7.5rem 0.825rem;
  background-color: var(--alabaster);
  border-radius: 20px;
}

@media (min-width:  2560px){
  .nav {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 5.6rem;
  height: 1150px;
  margin: 11.53rem 2.45rem;
  padding: 7.5rem 0.825rem;
  background-color: var(--alabaster);
  border-radius: 20px;
}
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav__link {
  display: block;
  padding: 10px;
  font-size: 0;
  border-radius: 10px;
  background-color: var(--alabaster);
  text-align: center;
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .nav__link:hover {
    background-color: var(--golden-yellow);
    opacity: 0.7;
  }

  .nav__link:hover .nav__icon path {
    fill: #000;
    opacity: 1;
  }
}

.nav__item--isActive .nav__link {
  background: linear-gradient(-45deg, #850038, #0e6021);
  fill: #000;
}

.nav__item--isActive .nav__link .nav__icon path {
  fill: var(--alabaster);
}

.nav__item--isActive .nav__link:focus {
  outline: none;
}

.nav__icon {
  width: 100%;
  padding-left: 5px;
}

/* @media (max-width: 1800px) {
  .nav {
    width: 4.6875rem;
    height: calc(100vh - 16.25rem);
    min-height: 35rem;
    max-height: 45rem;
    margin: 9.625rem 1.5rem;
    padding: 7.5rem 0.625rem;
  }
} */

@media (max-width: 1366px) {
  .nav {
    position: fixed;
    width: 4.6875rem;
    /* height: calc(100% - 21.25rem); */
    height: calc(100vh - 13.25rem);
    /* margin: 7.625rem 1rem; */
    margin: 7.625rem 1rem;
    /* padding: 5.5rem 0.625rem; */
    padding: 3.5rem 0.625rem;
  }
}

/* @media (max-width: 1200px) {
  .nav {
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 27.125rem);
    height: auto;
    min-height: auto;
    margin: 0 1rem;
    padding: 0.5rem 5rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 10px 4px var(--dune-rgba-2);
  }

  .nav__list {
    justify-content: space-around;
  }

  .nav__item {
    width: 3.3rem;
    height: 3.3rem;
  }
} */

/* Main */

.main {
  padding-left: 150px;
  width: calc(100% - 35.125rem);
  /* width: calc(100% - 46.125rem); */
  margin: 0 3.75rem 6rem 1.875rem;
}

@media screen and (min-width: 2560px) {
  .main {
    width: calc(100% - 42.6125rem);
    margin: 0 50rem 6rem 1rem;
  }
}

@media (max-width: 1800px) {
  .main {
    width: calc(100% - 38.8125rem);
    margin: 0 3rem 6rem 1.5rem;
  }
}

@media (max-width: 1400px) {
  .main {
    width: calc(100% - 23.8125rem);
    margin: 0 2rem 6rem 1rem;
  }
}

/* Header */

.header {
  padding: 3.05rem 0 5rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  margin-left: 10px;
  width: 100%;
  height: 3.525rem;
  max-width: 32.5rem;
  background-color: var(--alabaster);
  z-index: 1;
}

.search__button {
  width: 6.125rem;
  height: 3.525rem;
  padding: 0;
  font-size: 0;
  background-color: var(--alabaster);
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .search__button:hover {
    background-color: var(--golden-yellow);
  }

  /* .search__button:hover .search__icon path {
    fill: var(--alabaster);
  } */
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.search__input {
  width: calc(100% - 4.125rem);
  padding: 0 1rem;
  border: 1px solid var(--alabaster);
  background-color: var(--alabaster);
  margin-left: 10px;
  font-size: 1.2rem;
  color: var(--dune);
  letter-spacing: 0.1em;
  transition: border-color 0.3s ease;
}

@media (hover: hover) {
  .search__input:hover {
    border-color: var(--golden-yellow);
  }
}

.search__input::placeholder {
  color: var(--silver);
  font-size: 1.2rem;
}

.profile__button {
  display: flex;
  align-items: center;
  padding: 0.1625rem 0;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.profile__button:focus {
  outline: none;
}

.profile__button:focus .profile__name {
  color: var(--blue-violet);
}

@media (hover: hover) {
  .profile__button:hover {
    color: var(--maroon);
  }
}

.profile__name {
  margin-right: 1.5rem;
}

.profile__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

@media (max-width: 1800px) {
  .header {
    padding: 2.5rem 0 4rem;
  }

  .search__input,
  .search__input::placeholder,
  .profile__button {
    font-size: 1rem;
  }

  .search,
  .search__button {
    height: 3.125rem;
  }

  .search {
    max-width: 28.5rem;
  }
}

@media (max-width: 1400px) {
  .header {
    padding: 1.5rem 0 3rem;
  }

  .search {
    max-width: 30rem;
  }

  .profile__button {
    padding: 0;
  }

  .profile__img {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .search {
    max-width: calc(100% - 5rem);
  }

  .search__button {
    width: 3.125rem;
  }

  .search__input {
    width: calc(100% - 3.125rem);
  }

  .profile__name {
    display: none;
  }
}

/* Section */

.section:not(:last-child) {
  margin-bottom: 4rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media (max-width: 1800px) {
  .section__link {
    font-size: 1rem;
  }

  .section__button {
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 1400px) {
  .section__button {
    padding: 0.65rem 1.25rem;
  }

  .section__button svg {
    width: 1.8rem;
  }
}

@media (max-width: 992px) {
  .section:not(:last-child) {
    margin-bottom: 2rem;
  }

  .section__header {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .section__button {
    padding: 0.6rem;
    margin: 0 0.3rem;
  }
}

/* Team */

.team, .team1 {
  display: flex;
  justify-content: start;
  margin: 0 -0.6rem;
}

.inventory__buttons {
  display: flex;
  justify-content: start;
  margin: 0 -0.6rem;
}

.team__header, .team1__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.team__item {
  width: calc(100% / 3);
  margin: 0 0.6rem;
}

.team1__item {
  width: calc(100% / 2);
  margin: 0 0.6rem;
}

.inventory__item {
  width: calc(100% / 3);
  margin: 0 0.6rem;
}

.team__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--alabaster);
  padding: 2.4rem 1.6rem;
  border-radius: 10px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.team1__link {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--alabaster);
  padding: 2.4rem 1.6rem;
  border-radius: 10px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.team__name {
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  color: var(--dune);
}

@media (min-width: 2560px) {
  .team {
    display: flex;
    justify-content: start;
    margin: 0 -0.6rem;
  }

  .team__header {
    margin-bottom: 2rem;
  }

  .team__item {
    width: calc(100% / 3);
  }

  .team__link, .team1__link{
    font-size: 1.4em;
  }

  /* .team__item:nth-child(3n) {
    display: none;
  } */
}

@media (max-width: 1800px) {
  .team__header {
    margin-bottom: 2rem;
  }

  .team__item {
    width: calc(100% / 3);
  }

  .inventory__item {
    width: calc(100% / 3);
  }

  /* .team__item:nth-child(3n) {
    display: none;
  } */
}

@media (max-width: 1400px) {
  .team__header {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 1366px) {
  .team__item {
    width: calc(100% / 3);
  }

  .inventory__item {
    width: calc(100% / 3);
    margin: 0 0 0.6rem 0;
  }
}

@media (max-width: 992px) {
  .team__name {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .team__item {
    width: 100%;
  }

  .team__item:nth-child(2n) {
    display: none;
  }
}

/* Date */

.date {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dune);
}

@media (max-width: 1800px) {
  .date {
    font-size: 1rem;
  }
}

/* Project */

.project__item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.project__link {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--alabaster);
  padding: 1.5rem 0.7rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

@media screen and (min-width: 2560px) {
  .project {
    justify-content: center;
    font-size: 1em;
  }

  .project__item:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .project__link {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--alabaster);
    padding: 1.5rem 0.7rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
  }
}

/* Sidebar */

.sidebar {
  font-size: 1.2em;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -150px;
  background-color: var(--maroon);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px;
}

.sidebar .sidebar-avatar img {
  margin-left: 15%;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
}

.sidebar .sidebar-avatar h2 {
  padding-left: 10px;
  color: #fff;
  width: 250px;
  text-align: center;
  height: auto;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #b1b1b1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover, .logout:hover, .sidebar .editmyaccount:hover {
  color: #f1f1f1;
}

.sidebar .closebutton {
  position: absolute;
  top: 10px;
  left: -40px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .editmyaccount {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #b1b1b1;
  display: block;
  transition: 0.3s;
}
.sidebar .editmyaccount:focus {
  outline: none;
  border: none;
}

/* Logout */

.logout {
  position: absolute;
  bottom: 15px;
  left: 0;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.logout:focus {
  outline: none;
}

#openbutton {
  float: right;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#openbutton:focus {
  outline: none;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

/* Tooltip */

.tooltip .tooltiptext-t1 {
  visibility: hidden;
  width: 120px;
  background-color: #ffad0d;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  /* left: 2%; */
  margin-left: 70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext-t1::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #ffad0d transparent transparent;
}

.tooltip:hover .tooltiptext-t1 {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1366px) {
  .tooltip .tooltiptext-t1 {
    visibility: hidden;
    width: 120px;
    background-color: #ffad0d;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* top: 41%; */
    left: 0.5%;
    margin-left: 70px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext-t1::after {
    content: "";
    position: absolute;
    top: 35%;
    left: -4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ffad0d transparent transparent;
  }

  .tooltip:hover .tooltiptext-t1 {
    visibility: visible;
    opacity: 1;
  }
}

/* Footer */

.footer {
  height: 50px;
  opacity: 0.9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(-90deg, #0e6021, #850038);
  color: #fff;
}

.footer .fas, .footer .fab {
  margin: 0 2.5px 0 2.5px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.footer .fas:hover, .footer .fab:hover {
  color: var(--golden-yellow);
}

/* Left logo */


.left-logo {
  position: fixed;
  margin-top: 50px;
  margin-left: 45px;
  float: left;
  height: 110px;
  width: 110px;
}

@media screen and (max-width: 1366px) {
  .left-logo {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .left-logo, .footer {
    visibility: hidden;
  }
}

.sort-by-asc {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: -15px -20px 0 3px;
  background: transparent;
  border-bottom: solid 7px #000;
  border-top-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-asc:hover {
  border-bottom: solid 7px #fff;
}

.sort-by-desc {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 0 -20px 0 3px;
  background: transparent;
  border-top: solid 7px #000;
  border-bottom-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-desc:hover {
  border-top: solid 7px #fff;
}

.sort-by-desc:focus {
  border-top: solid 7px #fff;
}

.sort-by-asc1 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: -2px -20px 0 3px;
  background: transparent;
  border-bottom: solid 7px #000;
  border-top-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-asc1:hover {
  border-bottom: solid 7px #fff;
}

.sort-by-desc1 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 13px -20px 0 3px;
  background: transparent;
  border-top: solid 7px #000;
  border-bottom-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-desc1:hover {
  border-top: solid 7px #fff;
}

.sort-by-asc2 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: -14px -20px 0 3px;
  background: transparent;
  border-bottom: solid 7px #000;
  border-top-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-asc2:hover {
  border-bottom: solid 7px #fff;
}

.sort-by-desc2 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 1px -20px 0 3px;
  background: transparent;
  border-top: solid 7px #000;
  border-bottom-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-desc2:hover {
  border-top: solid 7px #fff;
}

.sort-by-asc3 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: -2px -20px 0 3px;
  background: transparent;
  border-bottom: solid 7px #000;
  border-top-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-asc3:hover {
  border-bottom: solid 7px #fff;
}

.sort-by-desc3 {
  position: relative;
  float: right;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 12px -20px 0 3px;
  background: transparent;
  border-top: solid 7px #000;
  border-bottom-width: 0;
  transition: 0.2s ease-in-out;
}

.sort-by-desc3:hover {
  border-top: solid 7px #fff;
}

.category-design {
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.category-design:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.report-gen-comp {
  cursor: pointer;
}

.report-gen-comp:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
