@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: url("../img/oble.jpg");
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 380px;
  margin: 4% auto;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 17px #333;
}

.header {
  text-align: center;
  padding-top: 75px;
}

.header h1 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 80px;
}

.main {
  text-align: center;
}

.main input, .btn {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
  color: #333;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.main .btn {
  width: 100px;
  border-radius: 50px;
  align-items: center;
  padding-left: 7px;
  background-color: #ffad0d;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;
  color: #525252;
  opacity: 0.9;
  transition: 0.3s ease;
}

.main .btn:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ffad0d;
  opacity: 1;
  cursor: pointer;
}

.main input:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ddd;
}

.main span {
  position: relative;
}

.main i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 2px;
}

.main a{
  text-decoration: none;
  color: #fff;
}

.fas, .fab {
  margin: 0 2.5px 0 2.5px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.fas:hover, .fab:hover {
  color: #ffad0d;
}

.login-footer {
  opacity: 0.9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(-90deg, #0e6021, #850038);
  color: #fff;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
}
