@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.title {
	color: #850038;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.input {
  /* position: relative; */
  overflow: hidden;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
	border-radius: 50px;
	box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
  height: auto;
  background-color: transparent;
  width: 440px;
  margin: 0.05rem;
	margin-left: 1rem;
	margin-right: 0;
  transition: .5s;
  font-size: 1.03rem;
  letter-spacing: 0.1rem;
}

.input:hover, .input:focus {
  opacity: 0.5;
}

@media screen and (max-width: 1366px) {
	.input {
		width: 400px;
	}
}

section .team__link .team__header .inputDiv .add {
	float: left;
	padding: 10px 0;
	margin: 0;
	outline: none;
  border: none;
  border-radius: 25px;
  color: #0e6021;
  cursor: pointer;
  transition: 0.5s;
  /* margin: 0.25rem; */
	background-color: transparent;
}

section .team__link .team__header .inputDiv .add:hover {
	color: #ffad0d;
}

.item {
	display: flex;
	padding: 0.1rem;
	border-bottom: 2px solid #000;
	margin-bottom: 1rem;
}

.item_input {
	background: none;
	outline: none;
	border: none;
	color: #000;
	font-size: 0.9rem;
	width: 100%;
}

.container .edit {
	float: right;
	background: none;
	outline: none;
	border: none;
	color: #727ef7;
	font-size: 0.9rem;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	cursor: pointer;
}

.container .remove {
	float: right;
	background: none;
	outline: none;
	border: none;
	color: #E00;
	font-size: 0.9rem;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}



/*To do list*/

.wrapper .inputFields {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.wrapper .inputFields input[type="text"] {
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1rem;
    transition: .3s;
}

.wrapper .inputFields input[type="text"]:focus {
    border-color: #000;
}

.wrapper .inputFields button.btn {
    width: 50px;
    height: 100%;
    background: #850038;
    color: #FFF;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

.wrapper .inputFields button.btn:hover {
    opacity: 1;
}

.wrapper .content ul li {
    background: #f1f1f1;
    border-radius: 3px;
    margin: 8px 0;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-align: justify;
    position: relative;
    overflow: hidden;
}

.wrapper .content ul li .text {
    color: #111;
    padding-left: 10px;
}

.wrapper .content ul li .icon {
    width: 50px;
    height: 100%;
    background: #e74c3c;
    position: absolute;
    right: -50px;
    top: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    transition: .3s linear;
}

.wrapper .content ul li:hover .icon {
    right: 0;
}

.wrapper .content .pending-text {
    color: #111;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: capitalize;
}
