.title {
	color: #800000;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.input {
  /* position: relative; */
  overflow: hidden;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
	border-radius: 50px;
	box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
  height: auto;
  background-color: transparent;
  width: 440px;
  margin: 0.05rem;
	margin-left: 1rem;
	margin-right: 0;
  transition: .5s;
  font-size: 1.03rem;
  letter-spacing: 0.1rem;
}

.input:hover, .input:focus {
  opacity: 0.5;
}

@media screen and (max-width: 1366px) {
	.input {
		width: 400px;
	}
}

section .team__link .team__header .inputDiv .add {
	float: left;
	padding: 10px 0;
	margin: 0;
	outline: none;
  border: none;
  border-radius: 25px;
  color: #228b22;
  cursor: pointer;
  transition: 0.5s;
  /* margin: 0.25rem; */
	background-color: transparent;
}

section .team__link .team__header .inputDiv .add:hover {
	color: #ffcc3d;
}

.item {
	display: flex;
	padding: 0.1rem;
	border-bottom: 2px solid #000;
	margin-bottom: 1rem;
}

.item_input {
	background: none;
	outline: none;
	border: none;
	color: #000;
	font-size: 0.9rem;
	width: 100%;
}

.container .edit {
	float: right;
	background: none;
	outline: none;
	border: none;
	color: #727ef7;
	font-size: 0.9rem;
	font-family: sans-serif;
	margin: 0;
	cursor: pointer;
}

.container .remove {
	float: right;
	background: none;
	outline: none;
	border: none;
	color: #E00;
	font-size: 0.9rem;
	font-family: sans-serif;
	cursor: pointer;
}
