.view {
  width: 80px;
  border-radius: 40px;
  opacity: 0.9;
  background-color: #ffad0d;
  color: black;
  cursor: pointer;
  transition-duration: 0.4s;
}

.view:hover {
  background-color: #800000;
  color: white;
}
