.modal-content {
  padding: 30px;
}

#btn-modal {
  background-color: #ff5252;
  width: auto;
  border-radius: 50px;
  color: #fff;
  opacity: 0.9;
  transition: 0.2s ease;
}

#btn-modal:hover {
  opacity: 1;
}

#btn-modal:focus {
  outline: none;
}
